body {
    background-color: #4690FF;
}
/*page borders*/
#top, #left, #right {
    position: fixed;
}
  #top {
    background-color: rgb(0, 22, 117);
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
  }
  #left, #right {
    background-color: rgb(0, 10, 53);
    top: 0;
    bottom: 0;
    width: 8px;
  }
  #left {
    left: 0;
  }
  #right {
    right:0;
  }

/*navigation bar*/
.menu, .vertMenu {
    background-color: rgb(0, 22, 117);
    font-family: sans-serif;
  }
  .menu{
    top: 8px;
    min-height: 42px;
    position: -webkit-sticky;
    position: sticky;
  }
  .vertMenu {
    right: 8px;
    width: 142px;
    height: 100%;
    position: fixed;
    overflow: auto;

  }

/*links*/
.menu-button, .vertMenu-button {
    font-size: 16px;
    color: white;
    background-color: inherit;
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
  }
  .menu-button {
    float: left;
  }

  /*dropdown container*/
  .dropdown {
    float: left;
    overflow: hidden;
    font-size: 16px;
    color: white;
    text-align: center;
    text-decoration: none;
  }
  /*dropdown button*/
  .dropdown .dropdown-button {
    font-size: 16px;
    border: none;
    outline: none;
    color: inherit;
    padding: 12px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .menu a:hover, .vertMenu a:hover, .dropdown:hover .dropdown-button {
    background-color: #4690FF;
  }
  /*dropdown*/
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #425FF5;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  /*dropdown links*/
  .dropdown-content a {
    float: none;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  /*dropdown links on hover*/
  .dropdown-content a:hover {
    background-color: #4690FF;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  /*valley background with parallax effect*/
.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*button to change grid on map*/
#valleyMapButton {
  font-size: 16px;
  color: white;
  background-color: rgb(0, 22, 117);
  text-align: center;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

/*Valley images*/
#valleyImage {
  width: 80%;
  padding: 10px;
  border-radius: 4px;
  border-color: black;
}